<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">المستخدم</th>
            <th scope="col">رقم التذكرة</th>
            <th scope="col">قيمى التذكرة</th>
            <th scope="col">السينمات</th>
            <th scope="col">عدد الأشخاص</th>
            <th scope="col">عدد مرات الشراء</th>
            <th scope="col">التذكرة</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>أحمد محمود</td>
            <td>C-101</td>
            <td>$40</td>
            <td>سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
            <td>1</td>
            <td>مرة واحدة</td>
            <td>تذكرة رقم 45.pdf</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>محمد الغريب</td>
            <td>C-102</td>
            <td>$30</td>
            <td>سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
            <td>1</td>
            <td>مرة واحدة</td>
            <td>تذكرة رقم 45.pdf</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>محمد الغريب</td>
            <td>C-102</td>
            <td>$45</td>
            <td>سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
            <td>1</td>
            <td>مرة واحدة</td>
            <td>تذكرة رقم 45.pdf</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>محمد الغريب</td>
            <td>C-103</td>
            <td>$54</td>
            <td>سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
            <td>1</td>
            <td>مرة واحدة</td>
            <td>تذكرة رقم 45.pdf</td>
        </tr>
    </tbody>
</table>