<div class="row ticket-sales">
    <div class="col-md-8">
        <div class="row align-items-center">
            <div class="col-md-2">
                <h6 class="ticket-sales-title">مبيعات التذاكر</h6>
            </div>
            <div class="col-md-4 search">
                <span><fa-icon [icon]="faSearch" class="search-icon"></fa-icon></span>
                <input type="search" class="form-control search-bar" placeholder="بحث عن ...">
            </div>
            <div class="col-md-2 filter-sort-btns">
                <button type="button" class="btn btn-light filter-btn"><fa-icon [icon]="faSliders"
                        class="filter-icon"></fa-icon></button>
                <button type="button" class="btn btn-light sort-btn"><span class="sort-icon-rotated"><fa-icon
                            [icon]="faArrowRightArrowLeft" flip="horizontal"></fa-icon></span></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row text-start align-items-center">
            <div class="col-md-8">
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <p class="btn-status">مفعلة</p>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-light book-a-ticket-btn">حجز تذكرة جديدة</button>
            </div>
        </div>
    </div>
</div>
<div class="card ticket-sales-details">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr class="ticket-sales-info">
                        <th scope="col">#</th>
                        <th scope="col">المستخدم</th>
                        <th scope="col">رقم التذكرة</th>
                        <th scope="col">قيمى التذكرة<span class="sort-icon"><fa-icon
                                    [icon]="faArrowRightArrowLeft"></fa-icon></span></th>
                        <th scope="col">السينمات</th>
                        <th scope="col">عدد الأشخاص</th>
                        <th scope="col">عدد مرات الشراء</th>
                        <th scope="col">التذكرة</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <div class="user">
                                <div class="user-avatar">
                                    <p class="user-initials">Ma</p>
                                </div>
                                <div class="user-info">
                                    <h6 class="user-name">أحمد محمود</h6>
                                    <p class="user-phone">0123456789</p>
                                </div>
                            </div>
                        </td>
                        <td class="ticket-number">C-101</td>
                        <td class="ticket-price">$40</td>
                        <td class="cinemas">سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
                        <td class="persons-count">1</td>
                        <td class="purchase-count">مرة واحدة</td>
                        <td class="ticket"><img src="../../assets/images/ticket.svg" class="ticket-img">تذكرة رقم
                            45<span class="file-format">.pdf</span><img src="../../assets/images/download.svg"
                                class="download-img"></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <div class="user">
                                <div class="avatar">
                                    <img src="../../assets/images/image-30.svg">
                                </div>
                                <div class="user-info">
                                    <h6 class="user-name">محمد الغريب</h6>
                                    <p class="user-phone">0123456789</p>
                                </div>
                            </div>
                        </td>
                        <td class="ticket-number">C-102</td>
                        <td class="ticket-price">$30</td>
                        <td class="cinemas">سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
                        <td class="persons-count">1</td>
                        <td class="purchase-count">مرة واحدة</td>
                        <td class="ticket"><img src="../../assets/images/ticket.svg" class="ticket-img">تذكرة رقم
                            45<span class="file-format">.pdf</span><img src="../../assets/images/download.svg"
                                class="download-img"></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            <div class="user">
                                <div class="avatar">
                                    <img src="../../assets/images/image-30-(2).svg">
                                </div>
                                <div class="user-info">
                                    <h6 class="user-name">محمد الغريب</h6>
                                    <p class="user-phone">0123456789</p>
                                </div>
                            </div>
                        </td>
                        <td class="ticket-number">C-102</td>
                        <td class="ticket-price">$45</td>
                        <td class="cinemas">سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
                        <td class="persons-count">1</td>
                        <td class="purchase-count">مرة واحدة</td>
                        <td class="ticket"><img src="../../assets/images/ticket.svg" class="ticket-img">تذكرة رقم
                            45<span class="file-format">.pdf</span><img src="../../assets/images/download.svg"
                                class="download-img"></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            <div class="user">
                                <div class="user-avatar" id="gray-avatar">
                                    <p class="user-initials">Ma</p>
                                </div>
                                <div class="user-info">
                                    <h6 class="user-name">محمد الغريب</h6>
                                    <p class="user-phone">0123456789</p>
                                </div>
                            </div>
                        </td>
                        <td class="ticket-number">C-103</td>
                        <td class="ticket-price">$54</td>
                        <td class="cinemas">سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
                        <td class="persons-count">1</td>
                        <td class="purchase-count">مرة واحدة</td>
                        <td class="ticket"><img src="../../assets/images/ticket.svg" class="ticket-img">تذكرة رقم
                            45<span class="file-format">.pdf</span><img src="../../assets/images/download.svg"
                                class="download-img"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link previous" href="#" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link page-number" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link next" href="#" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>