<div class="row">
    <div class="col-md-6"><a href="#"><img src="../../assets/images/right-arrow.svg" class="ms-2"></a>
        <p class="d-inline ticket-number">تذكرة
            رقم #2342</p>
    </div>
    <div class="col-md-6 text-start">
        <button type="button" class="btn btn-light modify-btn p-2"><img src="../../assets/images/edit.svg"
                class="ms-2">تعديل</button>
    </div>
</div>
<div class="row ticket-details">
    <div class="col-md-8">
        <div class="card voucher-info">
            <div class="card-body voucher-usage-stats">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="card-title voucher-usage-title">إحصائيات إستخدام القسيمة</h5>
                        <div class="voucher-usage-period">
                            <p class="card-text voucher-usage-dates d-inline-block m-0">05&nbsp;<span
                                    class="month">يوليو&nbsp;,</span>&nbsp;2023 - 05&nbsp;<span
                                    class="month">أغسطس&nbsp;,</span>&nbsp;2023
                            </p>
                            <img src="../../assets/images/vector.svg" class="me-2">
                        </div>
                    </div>
                    <div class="col-md-6 text-start">
                        <button type="button" class="btn btn-light time-basis">سنويا<img
                                src="../../assets/images/down-arrow.svg" class="down-arrow"></button>
                    </div>
                </div>
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                    [dataLabels]="chartOptions.dataLabels" [colors]="chartOptions.colors"
                    [markers]="chartOptions.markers"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card voucher">
            <div class="card-body voucher-body">
                <div class="offer d-flex flex-column align-items-center">
                    <h5 class="card-title offer-title">عرض التذكرة الخاصة بالفيلم</h5>
                    <div class="claim-offer d-flex align-items-center">
                        <p class="card-text offer-link d-inline-block">www.tazkty.com/473847</p>
                        <img src="../../assets/images/copy.svg" class="me-3 copy-icon">
                    </div>
                    <p class="valid-until">فعال حتي&nbsp;<span class="date">15</span>&nbsp;يوليو&nbsp;<span
                            class="year">2023</span>
                    </p>
                </div>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-6 d-flex flex-column justify-content-end">
                        <div class="voucher-discount">
                            <div class="discount-info d-inline-block">
                                <p class="discount">خصم</p>
                                <p class="discount-percentage d-inline align-middle">25%</p>
                            </div>
                            <button type="button" class="share-btn py-1"><img src="../../assets/images/send.svg"
                                    class="ms-1">مشاركة</button>
                        </div>
                    </div>
                    <div class="col-md-6 text-start">
                        <div class="voucher-qr">
                            <img src="../../assets/images/qr_img.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>